<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" 
	id="WebApp_ID" version="4.0" metadata-complete="true">
  <display-name>Welcome to 1030</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <servlet>
  	<servlet-name>Include</servlet-name>
  	<servlet-class>com.example.libs.IncludeDemo</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Now</servlet-name>
  	<servlet-class>com.example.libs.NowSevlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>MyContext</servlet-name>
  	<servlet-class>com.example.libs.ContextDemoServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>MyLocal</servlet-name>
  	<servlet-class>com.example.libs.LocalDemoServlet</servlet-class>
  	<init-param>			<!-- 이 서블릿(MyLocal)만 사용하기 위한 parameter -->
  		<description>MariaDB를 연결하기 위한 properties 파일 경로</description>
  		<param-name>mariadb.properties</param-name>
  		<param-value>C:/temp/mariadb.properties</param-value>		<!-- 실제 파일의 경로 -->
  	</init-param>				
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>Include</servlet-name>
  	<url-pattern>/servlets/servlet/Include</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Now</servlet-name>
  	<url-pattern>/servlets/servlet/Now</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>MyContext</servlet-name>
  	<url-pattern>/servlets/servlet/ContextDemo</url-pattern>		<!-- localhost:8080/1030/servlets/servlet/ContextDemo로 들어오면 18행 클래스 띄어주기!  -->
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>MyLocal</servlet-name>
  	<url-pattern>/servlets/servlet/LocalDemo</url-pattern>
  </servlet-mapping>
  
  
  <context-param>			<!-- 1030의 모든 서블릿(6행~24행)은 context-param을 사용가능 -->
  	<description>MySQL Driver</description>			<!-- 설명 -->
  	<param-name>db.driver</param-name>		
  	<param-value>com.mysql.jdbc.Driver</param-value>
  </context-param>
  <context-param>
  	<description>연결 URL</description>			<!-- 설명 -->
  	<param-name>db.url</param-name>		
  	<param-value>jdbc:mysql://localhost:3306/world</param-value>		<!-- MariaDB 포트번호 : 3306 -->	<!-- world 계정 사용 -->
  </context-param>
  <context-param>
  	<description>DB유저이름</description>			<!-- 설명 -->
  	<param-name>db.user</param-name>		
  	<param-value>root</param-value>
  </context-param>
  <context-param>
  	<description>DB유저의 비밀번호</description>			<!-- 설명 -->
  	<param-name>db.password</param-name>		
  	<param-value>javamysql</param-value>
  </context-param>
  
  
</web-app>