<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
                      http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
  version="4.0"
  metadata-complete="true">

  <display-name>Welcome to 1027</display-name>
  
	<servlet>
		<servlet-name>HelloWorld</servlet-name>
		<servlet-class>HelloServlet</servlet-class>
	</servlet>
	<!--Hangul서블릿이 호출되면 HangulServlet클래스를 실행-->
	<servlet>
		<servlet-name>Hangul</servlet-name>
		<servlet-class>HangulServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Register</servlet-name>
		<servlet-class>RegisterServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Calculator</servlet-name>
		<servlet-class>CalculatorServlet</servlet-class>
	</servlet>
	<!--서블릿 이름 : Calculator를 호출 => 실행할 클래스 : CalculatorServlet-->
	
	<servlet-mapping>
		<servlet-name>Register</servlet-name>
		<url-pattern>/servlets/servlet/Register</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Hangul</servlet-name>
		<url-pattern>/servlets/servlet/Hangul.daum</url-pattern>
	</servlet-mapping>
	<!--유저가 url을 위와 같이 치면 Hangul서블릿을 호출.-->
	
	<servlet-mapping>
		<servlet-name>HelloWorld</servlet-name>
		<url-pattern>/servlets/servlet/Hello.nhn</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Calculator</servlet-name>
		<url-pattern>/servlets/servlet/Calculator</url-pattern>
	</servlet-mapping>
	<!--www.example.com/1027/servlets/servlet/Calculator를 호출하면 서블릿 이름 : Calculator인 것을 찾음-->
	
</web-app>